*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 400 12px Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
    color: #202124;
    text-decoration-line: none;

}

h1{
    margin: 5px 0;
    font-family: 'Google sans', 'Noto Sans Myanmar UI',arial,sans-serif;
    font-size: 24px;
}
h3{
    font-family:  roboto,'Noto Sans Myanmar UI',arial,sans-serif;
}
label{
    width: 100%;
}
input{
    padding: 5px;
    width: 100%;
    height: 36px;
    margin: 10px 0;
    font-size: 14px;
    border-radius: 3px;
    border:1px solid lightgray;
}

main, footer{
    margin: 0 auto;
    padding: 10px;
    width: auto;
    height: auto;
    /* display: flex; */
    /* flex-flow: column nowrap;
    justify-content: center; */
    border: none;
}

.flex-container{
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    /* border: 1px solid tomato; */
}
.header-container{
    display: block;
    justify-content: flex-start;
}

#img-logo{
    max-width: 100px;
}
/* width del contenedor de contrasenas */
.password-inputs{
    width: 100%;
}

/*imagen de cuentas de google */
.accounts-img-container{
    width: auto;
    height: auto;
    display: none;
}
.accounts-img{
    width: 300px;
    height: 300px;
}
/* contenedor del checkbox  y checkbox */
.checkbox-container-id{
    width: 160px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#checkbox{
    -webkit-appearance:none;
    margin: 0;
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
}
#checkbox:checked{
    background-color: #e9ecee;
}

#checkbox:checked:after{
    align-self: center;
    content: '\2714';
    color: #1a73e8;
}

/* -----section submit------ */
.label-submit{
    display: flex;
}
#submit{
    margin:20px auto;
    max-width: 100px;
    background-color: #1a73e8;
    font-weight: 600;
    color: #fafafa;
    border-radius: 5px;
}
.link-login{
    margin: 20px 0 60px;
    font-family: "Google Sans",Roboto,Arial,sans-serif;
    font-weight: 600;
    color: #1a73e8;
}


 /*footer */
 footer{
    padding: 5px 10px;
    /* border: 1px solid black; */
 }
.langs-container{
    display: block;
    justify-content: flex-start;
}
.languages-menu{
    width: 100px;
    border: none; 
    appearance: none;
    background-color: transparent;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjwhRE9DVFlQRSBzdmcgIFBVQkxJQyAnLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4nICAnaHR0cDovL3d3dy53My5vcmcvR3JhcGhpY3MvU1ZHLzEuMS9EVEQvc3ZnMTEuZHRkJz48c3ZnIGhlaWdodD0iNTEycHgiIGlkPSJMYXllcl8xIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA1MTIgNTEyOyIgdmVyc2lvbj0iMS4xIiB2aWV3Qm94PSIwIDAgNTEyIDUxMiIgd2lkdGg9IjUxMnB4IiB4bWw6c3BhY2U9InByZXNlcnZlIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj48cGF0aCBkPSJNOTguOSwxODQuN2wxLjgsMi4xbDEzNiwxNTYuNWM0LjYsNS4zLDExLjUsOC42LDE5LjIsOC42YzcuNywwLDE0LjYtMy40LDE5LjItOC42TDQxMSwxODcuMWwyLjMtMi42ICBjMS43LTIuNSwyLjctNS41LDIuNy04LjdjMC04LjctNy40LTE1LjgtMTYuNi0xNS44djBIMTEyLjZ2MGMtOS4yLDAtMTYuNiw3LjEtMTYuNiwxNS44Qzk2LDE3OS4xLDk3LjEsMTgyLjIsOTguOSwxODQuN3oiLz48L3N2Zz4=);
    background-repeat: no-repeat, repeat;
    background-position: right;
    background-size: 12px;
}
  
.languages-menu:hover{
    /* border-bottom: 1px ; */
    box-shadow:
  0 1px 4px -3px rgba(0, 0, 0, 1)
;
    /* overflow: hidden; */
    appearance:initial; 
}
 .about-pg{
     margin-top: 20px;
     margin-bottom: 20px;
     display: block;
     justify-content: flex-start;
     /* flex-flow: row nowrap; */
 }
 .about-pg a:nth-child(2){
    margin: 0 10px;
    /* color: red; */
 }
 .links-container{
     padding: 0 5px;
 }

/* focus style */
.focus:focus{
    border: 2px solid steelblue;
    transition: outline-offset .25s ease;
    /* outline-offset: 5px; */
}
.focus-alert{ /* :invalid */
    border: 2px solid tomato;
    /* background-color: black; */
    transition: outline-offset .25s ease;
    /* outline-offset: 5px; */
}

/* alert span */
.alerts{
    display: none;
    color: tomato;
    font-weight: bolder;
}
.btn-container a, figcaption{
    font-family: 'Mulish', sans-serif;
    font-size: 1.0578em;
    text-align: center;
}


/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
 
    main, footer{
        max-width:400px;
        display:block;
        }
    .accounts-img-container{
        display: none;
    }
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 

}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 

}


/* ----- laptop & tablet ------- */
 /* ----------- Non-Retina Screens ----------- */
 @media screen 
 and (min-device-width: 1200px) 
 and (max-device-width: 1600px) 
 and (-webkit-min-device-pixel-ratio: 1) { 
 }
 
 /* ----------- Retina Screens ----------- */
 @media screen 
 and (min-device-width: 1200px) 
 and (max-device-width: 1600px) 
 and (-webkit-min-device-pixel-ratio: 2)
 and (min-resolution: 192dpi) { 
 }

@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1920px)
  and (-webkit-min-device-pixel-ratio: 1) {
    body{
        margin: 100px 20px;
        /* max-width: 900px; */
    }
    main, footer{
        margin: 0 auto;
        max-width: 900px;
        display: flex;
    }
    main{
        padding: 50px 25px;
        /* height: 620px; */
        border: 1px solid rgba(0, 0, 0, 0.24);
        border-radius: 30px;
        justify-content: space-between;
    }
    footer{
        justify-content: space-between;
        align-items: center;
    }
    .accounts-img-container{
        display: block;
        justify-content: center;
        /* background-color: red;    */
    } 
    .inputs-txt{
        height: 36px;
    }
    flex-container{
        /* display: flex; */
        flex-flow: row wrap;
        /* align-items: flex-start; */
        /* align-content: stretch; */
    }
    label{
        width: 100%;
    }
   
    .fullName-container, .password-inputs, .btn-container{
        display: flex;
        flex-flow: row nowrap;
        /* border: 1px solid black; */
     }
     .fullName-container label:first-child, .password-inputs label:first-child{
        margin-right: 10px;
     }
     .btn-container{
         /* width: 100%; */
         margin: 0;
         flex-flow: row-reverse nowrap;
     }
     .checkbox-container{
        width:100%;
     }
     .checkbox-container-id{
        justify-content: flex-start;
     }
     .checkbox-container-id span{
         margin-left: 10px;
     }
     .span-email{
         width: 100%;
     }



     .link-login{
        margin: 0;
     }
     .label-submit{
         margin: 0;
         width: 50%;
         /* border: 1px solid tomato; */
     }
     /* .label-submit input{
         width: ;
     } */

  }

 